$color-gray: #d8d8d8;
$color-light-gray: #f3f5f8;
$color-light-magenta: #ffe5f3;
$color-light-blue: #8be0f6;

.bg {
  &-white {
    background-color: $color-white !important;
  }
  &-blue {
    background-color: $color-blue !important;
  }
  &-cyan {
    background-color: $color-cyan !important;
  }
  &-magenta {
    background-color: $color-magenta !important;
  }
  &-dark-blue {
    background-color: $color-dark-blue !important;
  }
  &-gray {
    background-color: $color-gray !important;
  }
  &-light-gray {
    background-color: $color-light-gray !important;
  }
  &-light-magenta {
    background-color: $color-light-magenta !important;
  }
  &-light-blue {
    background-color: $color-light-blue !important;
  }
}

.border {
  &-white {
    border-color: $color-white !important;
  }
  &-blue {
    border-color: $color-blue !important;
  }
  &-cyan {
    border-color: $color-cyan !important;
  }
  &-magenta {
    border-color: $color-magenta !important;
  }
  &-dark-blue {
    border-color: $color-dark-blue !important;
  }
  &-gray {
    border-color: $color-gray !important;
  }
  &-light-gray {
    border-color: $color-light-gray !important;
  }
  &-light-magenta {
    border-color: $color-light-magenta !important;
  }
  &-light-blue {
    border-color: $color-light-blue !important;
  }
}

.text {
  &-white {
    color: $color-white !important;
  }
  &-blue {
    color: $color-blue !important;
  }
  &-cyan {
    color: $color-cyan !important;
  }
  &-magenta {
    color: $color-magenta !important;
  }
  &-dark-blue {
    color: $color-dark-blue !important;
  }
  &-gray {
    color: $color-gray !important;
  }
  &-light-gray {
    color: $color-light-gray !important;
  }
  &-light-magenta {
    color: $color-light-magenta !important;
  }
  &-light-blue {
    color: $color-light-blue !important;
  }
}

.outline {
  &-white {
    outline-color: $color-white !important;
  }
  &-blue {
    outline-color: $color-blue !important;
  }
  &-cyan {
    outline-color: $color-cyan !important;
  }
  &-magenta {
    outline-color: $color-magenta !important;
  }
  &-dark-blue {
    outline-color: $color-dark-blue !important;
  }
  &-gray {
    outline-color: $color-gray !important;
  }
  &-light-gray {
    outline-color: $color-light-gray !important;
  }
  &-light-magenta {
    outline-color: $color-light-magenta !important;
  }
  &-light-blue {
    outline-color: $color-light-blue !important;
  }
}
