.bg {
  &-white {
    background-color: $color-white !important;

    a {
      color: $color-dark-blue !important;
    }
  }
  &-blue {
    background-color: $color-blue !important;
    color: $color-white !important;

    a {
      color: $color-white;
    }

    .accent-after::after,
    .accent-before::before {
      background-color: $color-white;
    }
  }
  &-cyan {
    background-color: $color-cyan !important;
  }
  &-magenta {
    background-color: $color-magenta !important;
    color: $color-white !important;

    a {
      color: $color-white;
    }

    .accent-after::after,
    .accent-before::before {
      background-color: $color-white;
    }
  }
  &-dark-blue {
    background-color: $color-dark-blue !important;
    color: $color-white !important;

    a {
      color: $color-white;
    }

    .accent-after::after,
    .accent-before::before {
      background-color: $color-white;
    }
  }
  &-gray {
    background-color: $color-gray !important;
  }
  &-light-gray {
    background-color: $color-light-gray !important;
  }
  &-light-magenta {
    background-color: $color-light-magenta !important;
  }
  &-light-blue {
    background-color: $color-light-blue !important;
  }
  &-lighter-blue {
    background-color: $color-lighter-blue !important;
  }
}

@include at-media("desktop") {
  .desktop\:bg {
    &-white {
      background-color: $color-white !important;
      color: $color-dark-blue !important;

      a {
        color: $color-dark-blue !important;
      }

      .accent-after::after,
      .accent-before::before {
        background-color: $color-magenta !important;
      }
    }
  }
}

.border {
  &-white {
    border-color: $color-white !important;
  }
  &-blue {
    border-color: $color-blue !important;
  }
  &-cyan {
    border-color: $color-cyan !important;
  }
  &-magenta {
    border-color: $color-magenta !important;
  }
  &-dark-blue {
    border-color: $color-dark-blue !important;
  }
  &-gray {
    border-color: $color-gray !important;
  }
  &-light-gray {
    border-color: $color-light-gray !important;
  }
  &-light-magenta {
    border-color: $color-light-magenta !important;
  }
  &-light-blue {
    border-color: $color-light-blue !important;
  }
  &-lightrt-blue {
    border-color: $color-lighter-blue !important;
  }
}

@include at-media("desktop") {
  .desktop\:border {
    &-gray {
      border-color: $color-gray !important;
    }
  }
}

.text {
  &-white {
    color: $color-white;
  }
  &-blue {
    color: $color-blue !important;
  }
  &-cyan {
    color: $color-cyan !important;
  }
  &-magenta {
    color: $color-magenta !important;
  }
  &-dark-blue {
    color: $color-dark-blue !important;
  }
  &-gray {
    color: $color-gray !important;
  }
  &-light-gray {
    color: $color-light-gray !important;
  }
  &-light-magenta {
    color: $color-light-magenta !important;
  }
  &-light-blue {
    color: $color-light-blue !important;
  }
  &-lighter-blue {
    color: $color-lighter-blue !important;
  }
}
