@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("fonts/noto-sans/noto-sans-v21-latin-regular.woff2") format("woff2"),
    url("fonts/noto-sans/noto-sans-v21-latin-regular.woff") format("woff"),
    url("fonts/noto-sans/noto-sans-v21-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("fonts/noto-sans/noto-sans-v21-latin-700.woff2") format("woff2"),
    url("fonts/noto-sans/noto-sans-v21-latin-700.woff") format("woff"),
    url("fonts/noto-sans/noto-sans-v21-latin-700.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url("fonts/noto-sans/noto-sans-v21-latin-italic.woff2") format("woff2"),
    url("fonts/noto-sans/noto-sans-v21-latin-italic.woff") format("woff"),
    url("fonts/noto-sans/noto-sans-v21-latin-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url("fonts/noto-sans/noto-sans-v21-latin-700italic.woff2")
      format("woff2"),
    url("fonts/noto-sans/noto-sans-v21-latin-700italic.woff") format("woff"),
    url("fonts/noto-sans/noto-sans-v21-latin-700italic.ttf") format("truetype");
}
