.accent {
  &-after::after,
  &-before::before {
    background: $color-magenta;
    content: "";
    display: block;
    height: 4px;
    width: 30px;
  }

  &-blue::after,
  &-blue::before {
    background: $color-blue !important;
  }

  &-light-blue::after,
  &-light-blue::before {
    background: $color-light-blue !important;
  }

  &-magenta::after,
  &-magenta::before {
    background: $color-magenta !important;
  }

  &-white::after,
  &-white::before {
    background: $color-white !important;
  }

  &-after::after {
    margin-top: units(2);
  }

  &-before::before {
    margin-bottom: units(2);
  }
}

@include at-media("desktop") {
  .desktop\:accent-magenta {
    &::after,
    &::before {
      background: $color-magenta !important;
    }
  }
}

.arrow {
  width: 100px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 24px solid $color-dark-blue;
}

.bullet {
  align-items: center;
  display: flex;

  &::before {
    background: $color-light-blue;
    border-radius: 9999px;
    content: "";
    display: block;
    flex: none;
    height: 10px;
    margin-right: units(1);
    width: 10px;
  }
}

.content-none {
  &::before,
  &::after {
    content: none !important;
  }

  &--after {
    &::after {
      content: none !important;
    }
  }

  &--before {
    &::before {
      content: none !important;
    }
  }
}
