.font-noto-sans {
  font-family: "Noto Sans", sans !important;
}

h1,
.h1 {
  @include covidtest-font(24, 32);

  @include at-media("tablet") {
    @include covidtest-font(45, 54);
  }

  outline: none !important;

  &::before {
    content: "";
    display: block;
    margin-bottom: units(2);
    height: 4px;
    width: 30px;
    background: $color-light-blue;
  }
}

h2,
.h2 {
  @include covidtest-font(24, 32);

  @include at-media("tablet") {
    @include covidtest-font(32, 32);
  }

  border-bottom: 1px solid $color-gray;
  content: none;
  font-weight: 700;
  letter-spacing: normal;
  margin: units(2) 0;
  text-transform: none;
}

h3,
.h3 {
  @include covidtest-font(16, 22);

  @include at-media("tablet") {
    @include covidtest-font(18, 22);
  }

  border: 0;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.08em !important;

  &::after {
    margin-top: units(1);
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background: $color-magenta;
  }
}

h4,
.h4 {
  @include covidtest-font(18, 32);

  @include at-media("tablet") {
    @include covidtest-font(20, 32);
  }
}

legend {
  @include covidtest-font(24, 32);

  @include at-media("tablet") {
    @include covidtest-font(32, 32);
  }

  font-weight: 700;
  margin: 0;
}

.covidtest-main {
  p,
  li {
    @include covidtest-font(16, 26);
    margin: units(2) 0;
  }

  a {
    &,
    &:visited {
      font-weight: 700;
      position: relative;
      color: $color-dark-blue;
      text-decoration: underline;
      transition: all 0.2s ease;
    }

    &:focus,
    &:hover {
      color: $color-magenta;
    }
  }
}
