#main-content {
  border-top: 5px solid rgba(#eaf0f1, 0.72);
  color: $color-dark-blue;
  font-family: "Noto Sans", Georgia, Cambria, "Times New Roman", Times, serif;
  font-display: swap;

  @include covidtest-font(16, 24);

  h1,
  h2,
  h3,
  h4,
  legend {
    color: $color-dark-blue;
    font-weight: 700;
    margin-top: 0;
  }

  h1 {
    @include covidtest-font(24, 32);

    @include at-media("tablet") {
      @include covidtest-font(45, 54);
    }

    outline: none !important;

    @extend .accent-before;
    @extend .accent-light-blue;
  }

  h2 {
    @include covidtest-font(18, 32);

    @include at-media("tablet") {
      @include covidtest-font(22, 32);
    }
  }

  h3,
  legend {
    @include covidtest-font(24, 32);

    @include at-media("tablet") {
      @include covidtest-font(32, 40);
    }
  }

  h4 {
    @include covidtest-font(18, 24);

    @include at-media("tablet") {
      @include covidtest-font(16, 24);
    }

    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  li {
    margin: units(2) 0;
  }

  ul {
    padding-left: 1.1em;
  }

  a {
    &,
    &:visited {
      position: relative;
      color: $color-dark-blue;
      font-weight: 700;
      text-decoration: underline;
      transition: all 0.2s ease;
    }

    &:focus,
    &:hover {
      color: $color-magenta;
    }
  }

  .h1 {
    @include covidtest-font(24, 32);

    @include at-media("tablet") {
      @include covidtest-font(45, 54);
    }

    outline: none !important;

    @extend .accent-before;
    @extend .accent-light-blue;
  }

  .h2 {
    @include covidtest-font(18, 32);

    @include at-media("tablet") {
      @include covidtest-font(22, 32);
    }
  }

  .h3 {
    @include covidtest-font(24, 32);

    @include at-media("tablet") {
      @include covidtest-font(32, 32);
    }
  }

  .h4 {
    @include covidtest-font(18, 24);

    @include at-media("tablet") {
      @include covidtest-font(16, 24);
    }

    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .usa-lead {
    @include covidtest-font(16, 32);

    @include at-media("tablet") {
      @include covidtest-font(22, 32);
    }
  }
}
