h1,
.h1 {
  @include covidtest-font(24, 32);

  @include at-media("tablet") {
    @include covidtest-font(45, 54);
  }

  outline: none !important;

  &::before {
    content: "";
    display: block;
    margin-bottom: units(2);
    height: 4px;
    width: 30px;
    background: $color-light-blue;
  }
}

h2,
.h2 {
  @include covidtest-font(18, 32);

  @include at-media("tablet") {
    @include covidtest-font(22, 32);
  }

  border-bottom: 1px solid $color-gray;
  margin: units(2) 0;
}

h3,
.h3 {
  font-weight: 400 !important;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  @include covidtest-font(14, 32);

  @include at-media("tablet") {
    @include covidtest-font(16, 32);
  }

  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background: $color-magenta;
  }
}

legend {
  @include covidtest-font(24, 32);

  @include at-media("tablet") {
    @include covidtest-font(32, 32);
  }

  font-weight: 700;
  margin: 0;
}
