<div class="bg-blue text-white">
  <div class="covidtest-container usa-section padding-y-8">
    <div class="maxw-tablet">
      <h1 class="h3 margin-top-0 content-none--before">
        <%= t('errors.500.code') %>
      </h1>
      <h2 class="border-0"><%= t('errors.500.title') %></h2>
      <p class="h2 margin-top-4">
        <%= t('errors.500.body_html') %>
      </p>
    </div>
  </div>
</div>
