<div class="usa-card__container margin-x-0 margin-bottom-5">
  <div class="usa-card__body text-gray-90">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large text-primary">
        <%= title -%>
      </legend>
      <%= yield %>
    </fieldset>
  </div>
</div>
