<div class="usa-card__container margin-x-0 margin-bottom-5 shadow-2">
  <div class="usa-card__body text-gray-90 padding-top-2 padding-bottom-4">
    <% if defined?(title) %>
    <fieldset class="usa-fieldset">
      <legend class="usa-legend text-blue margin-top-0 font-body-lg text-bold">
        <%= title %>
      </legend>
      <%= yield %>
    </fieldset>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
