<footer class="covidtest-footer">
  <div class="covidtest-footer__container covidtest-container">
    <div class="covidtest-footer__logos">
      <a class="covidtest-footer__logo-link" href="https://www.hhs.gov/" style="margin-right: 20px" rel="noopener">
        <img class="covidtest-footer__logo-img" src="images/covidtest/hhs-logo.png" alt="U.S. Department of Health & Human Services" width="146" height="151" loading="lazy">
      </a>
      <a class="covidtest-footer__logo-link" href="https://www.usps.com/" rel="noreferrer noopener">
        <img class="covidtest-footer__logo-img" src="images/covidtest/usps-logo.svg" alt="USPS.com" width="210" height="25" loading="lazy">
      </a>
      <a class="covidtest-footer__logo-link" href="https://wecandothis.hhs.gov/" rel="noopener">
        <img class="covidtest-footer__logo-img" src="images/covidtest/wecandothis-logo.svg" alt="We Can Do This" width="155" height="155" loading="lazy">
      </a>
      <a class="covidtest-footer__logo-link covidtest-footer__logo-text" href="/">
        <%= t('shared.header.title') %>
      </a>
    </div>
  </div>
</footer>
