<div id="privacy-cntr" class="text-dark-blue">
  <%= render :layout => 'card', :locals => {:is_fieldset => false} do %>
    <h3 class="h3 text-dark-blue"><%= t('kit_requests.new.privacy.heading') %></h3>
    <div class="text-dark-blue"><%= t('kit_requests.new.privacy.html') %></div>
  <% end %>
</div>
