<div id="privacy-cntr">
  <%= render :layout => 'card' do %>
    <h2 class="font-body-xs text-normal text-uppercase text-primary-dark margin-bottom-1"><%= t('kit_requests.new.privacy.heading') %></h2>
    <%= render "application/separator" %>
    <div class="font-body-2xs line-height-sans-1 text-primary-dark margin-top-2">
      <%= t('kit_requests.new.privacy.html') %>
    </div>
  <% end %>
</div>
